---
---

{% if site.darkmode %}
@import 'darkmode';
{% endif %}

// Breakpoints
$large-breakpoint: 64em !default;
$medium-breakpoint: 42em !default;

// Headers
$header-heading-color: {{ site.color.header | default: "#fff" }} !default;
$header-bg-color: {{ site.color.gradient_right | default: "#225279" }} !default;
$header-bg-color-secondary: {{ site.color.gradient_left | default: "#38A2D7" }} !default;

// Text
$section-headings-color: {{ site.color.section_title | default: site.color.gradient_right | default: "#159957" }} !default;
$body-text-color: #606c71 !default;
$body-link-color: {{ site.color.link | default: site.color.gradient_left | default: "#1e6bb8" }} !default;
$blockquote-text-color: #819198 !default;

// Code
$code-bg-color: #f3f6fa !default;
$code-text-color: #567482 !default;

// Borders
$border-color: #dce6f0 !default;
$table-border-color: #e9ebec !default;
$hr-border-color: #eff0f1 !default;

@import 'jekyll-theme-cayman';

.main-content {
  @include large { max-width: 85%; }
}

{% if site.logo_url %}
.project-name::before {
    content: " ";
    display: inline-block;
    width: 0.9em;
    height: 0.9em;
    padding-right: 0.5em;
    vertical-align: middle;
    background: url("{{site.logo_url}}");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center center;
}
{% endif %}

{% if site.hide_first_title %}
    .main-content h1:first-child { display: none; }
{% endif %}

.btn-bootstrap {
    display: inline-block;
    font-weight: 400;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    border: 1px solid transparent;
    padding: 0.375rem 0.75rem;
    font-size: 1rem;
    line-height: 1.5;
    border-radius: 0.25rem;
    transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}

.btn-outline-ps {
    color: #fff;
    background-color: #007bff;
    border-color: #007bff;
}

.btn-outline-ps:hover {
    color: #007bff;
    background-color: transparent;
    background-image: none;
    border-color: #007bff;
    text-decoration:none;
    font-weight:none
}

.btn-outline-pr {
    color: #fff;
    background-color: #28a745;
    border-color: #28a745;
}

.btn-outline-pr:hover {
    color: #28a745;
    background-color: transparent;
    background-image: none;
    border-color: #28a745;
    text-decoration:none;
    font-weight:none
}

.btn-outline-psd {
    color: #fff;
    background-color: #dc3545;
    border-color: #dc3545;
}

.btn-outline-psd:hover {
    color: #dc3545;
    background-color: transparent;
    background-image: none;
    border-color: #dc3545;
    text-decoration:none;
    font-weight:none
}

.column-left {
  float: left;
  width: 50%;
}
.column-right {
  float: right;
  width: 50%;
}

.page-header {
    padding: 2rem 3rem;
}

.intro-header {
    margin-top: 5rem;
}



